:root {/* CSS HEX */
--rich-black-fogra-39: #000501ff;
--shiny-shamrock: #73ab84ff;
--shiny-shamrock-var: rgb(113, 139, 121);
--medium-turquoise: #79c7c5ff;
--powder-blue: #ade1e5ff;
}


body{
    color: var(--rich-black-fogra-39);
    font-family: 'Exo', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.9rem;
}

h3 {
    font: 1.7rem;
    margin: 0px;
}

.wrapper {
  box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

header {
    grid-area: header;
}

nav {
    background-color: var(--medium-turquoise);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav ul,.contact ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
    flex-wrap: wrap;
    
}

nav li {
    padding: 10px;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--rich-black-fogra-39);
}

.about a {
    color: var(--shiny-shamrock-var);
}
.about a:hover {
        text-decoration: none;
}

.logo {
    height: 30px;
    padding-right: 5px;
}

.hero {
    position: relative;
    width:100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;

}
.hero-bck {
    background-image:url('../images/old-books.jpg');
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.2;
}

main{
    grid-area: main;
}

.about {
    background-color: var(--powder-blue);
    color:var(--rich-black-fogra-39);
    padding: 50px 40px;
    font-size: 1.1rem;
    
}

.contact {
  background-color: var(--medium-turquoise);
   padding: 20px;
}

.contact h2{
    margin-top: 0px;
    text-align: center;
    font-size: 1.8rem;
}

.contact ul {
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    align-items: center;
}

.contact-twitter{
    height: 50px;
}
.contact-email {
     height: 36.4px;
}

footer {
    text-align: center;
    background-color: var(--shiny-shamrock);
    color: var(--powder-blue);
    padding: 15px;
    grid-area: footer;
}



@media (min-width: 1400px){
    .hero {
        height: 50vh;
    }
    nav{
        font-size: 1.4rem;
    }
    .about{
        font-size: 1.3rem;
        padding: 1.5em auto;
    }
    .about p {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
   
    .contact-twitter{
        height: 80px;
    }
    .contact-email {
        height: 50px;
    }
}


.cards {
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.card {
  padding: 1rem;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  background-color: red;
  margin: 1rem;
} 

.card-content {
    padding-left: 0.75rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.cover-book{
    height: 200px;
}
